/* userdata.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f9fa; /* Set background color as needed */
}

.w-100 {
  width: 100%;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.w-50 {
  width: 50%;
  margin-top: 20px; /* Add margin for spacing */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #343a40; /* Header background color */
  color: #fff; /* Header text color */
}

.table tbody tr:hover {
  background-color: #e9ecef; /* Hover background color */
  cursor: grab;
}
