/* UserData.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f9fa; /* Set background color as needed */
}

.w-100 {
  width: 100%;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.w-50 {
  width: 50%;
  margin-top: 20px; /* Add margin for spacing */
}

.user-list-container {
  /* margin-top: 100px; Center the container on the page with padding above and below */
  width: 80%;
  margin: 8% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.create-user-container {
  width: 30%;
  margin-top: 20px;
}

.user-table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.user-table th {
  background-color: #343a40; /* Header background color */
  color: #fff; /* Header text color */
}

.user-table tbody tr:hover {
  background-color: #e9ecef; /* Hover background color */
  cursor: grab;
}

/* Update button */
.update-button {
  background-color: white; /* Button color */
  color: black; /* Text color */
  border: 2px solid #007bff; /* Border color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  margin-right: 10px; /* Add spacing between the update and delete buttons */
  padding: 5px 16px; /* Increase padding */
}

.update-button:hover {
  background-color: #007bff; /* Darker color on hover */
  color: white;
}

/* Delete button */
.delete-button {
  background-color: white; /* Button color */
  color: black; /* Text color */
  border: 2px solid #dc3545; /* Border color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  padding: 5px 16px; /* Increase padding */
}

.delete-button:hover {
  background-color: #ee4b2b; /* Darker color on hover */
  color: whitesmoke;
}

.add-user-button {
  display: block;
  width: 15%; /* Make the button take the full width */
  margin-top: 20px; /* Add margin space between the table and button */
  padding: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: white; /* Button color */
  color: black; /* Text color */
  border: 2px solid #3e885b; /* Border color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}

.add-user-button:hover {
  background-color: #3e885b; /* Darker color on hover */
  color: wheat;
}
